[package]
name = "ethui"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true
authors.workspace = true

[lib]
name = "ethui_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[[bin]]
name = "ethui"

[dependencies]
analytics.workspace = true
forge.workspace = true
forge-traces = { workspace = true, optional = true }
settings.workspace = true
networks.workspace = true
wallets.workspace = true
dialogs.workspace = true
rpc.workspace = true
ws.workspace = true
connections.workspace = true
common.workspace = true
db.workspace = true
sync.workspace = true
tracing-utils.workspace = true
broadcast.workspace = true
simulator.workspace = true
args.workspace = true
proxy-detect.workspace = true
stacks = { workspace = true, optional = true }

alloy.workspace = true
serde.workspace = true
serde_json.workspace = true
tauri.workspace = true
tokio.workspace = true
color-eyre.workspace = true
tracing.workspace = true

fix-path-env = { git = "https://github.com/tauri-apps/fix-path-env-rs", rev = "0e479e2" }
named-lock = "0.4"
tauri-plugin-os = "2.3"
tauri-plugin-clipboard-manager = "2.3"
tauri-plugin-shell = "2.3"
kameo.workspace = true
tauri-plugin-aptabase = { workspace = true, optional = true }
tauri-plugin-process = { version = "2" }

[build-dependencies]
tauri-build = { version = "2.4", default-features = false, features = [] }
token-list.workspace = true

[features]
default = []
production = ["aptabase", "updater"]
forge-traces = [
  "dep:forge-traces",
  "args/forge-traces",
  "rpc/forge-traces",
]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
aptabase = ["dep:tauri-plugin-aptabase", "analytics/aptabase"]
stacks = ["dep:stacks"]
updater = ["dep:tauri-plugin-updater"]
test = []

[target.'cfg(not(any(target_os = "android", target_os = "ios")))'.dependencies]
tauri-plugin-updater = { version = "2", optional = true }
