# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "@types/node"
      - dependency-name: "lucide-react"
    groups:
      alloy:
        patterns:
          - "alloy"
          - "alloy-chains"

  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]
      - dependency-name: "lucide-react"
    groups:
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      tailwind:
        patterns:
          - "*tailwind*"
          - "postcss"
      tanstack-router:
        patterns:
          - "@tanstack/react-router"
          - "@tanstack/router-devtools"
          - "@tanstack/router-plugin"
      tanstack-query:
        patterns:
          - "@tanstack/react-query"
          - "@tanstack/react-query-devtools"
      tauri:
        patterns:
          - "*tauri*"
