node_modules
dist
.parcel-cache
parcel-bundle-reports
tsconfig.tsbuildinfo
target/
!migrations/*.sql
gui/vite.config.ts.timestamp-*
dev-data

# extension artifacts
extension/*.zip
*.xpi
*.crx
*.pem
.aider.*

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# icons are generated through ./icons/generate.sh
bin/icons*
extension/src/public/icons
gui/public/logo
