node_modules
dist
.parcel-cache
parcel-bundle-reports
tsconfig.tsbuildinfo
target/
!migrations/*.sql
gui/vite.config.ts.timestamp-*

# extension artifacts
extension/*.zip
*.xpi
*.crx
*.pem
.aider.*

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
