[tasks.default]
depends = ["dev"]

[tasks.dev]
run = "yarn run app:dev"
alias = "d"

[tasks.prod]
run = "yarn run tauri build"
env = { NODE_ENV = "production" }

[tasks.fix]
run = [
  "cargo +nightly fmt --all -- --check",
  "cargo clippy --all -- -D clippy::all -D clippy::dbg_macro",
  "yarn lint",
]
alias = "f"

[tasks.ext]
run = "yarn run ext:build"

[tasks.ext-dev]
run = "yarn run ext:dev"

[tools]
node = "22.12.0"
rust = "stable"

[env]
NODE_ENV = "development"
RUST_LOG = "warn"
ETHUI_FEATURES = "debug"
IRON_WS_PORT = 9102
IRON_HTTP_PORT = 9103
ETHUI_WS_PORT = 9102
ETHUI_HTTP_PORT = 9103
ETHUI_BROWSER = "chrome"
DATABASE_URL = "sqlite://dev-data/default/db.sqlite3"
