gui/dist
gui/vite.config.ts.timestamp-*
gui/src/routeTree.gen.ts
bin/ethui/gen/
extension/dist
extension/scripts/start.js
extension/wdio.e2e.conf.ts
node_modules
packages/data/**/*.json
target
.yarn
.sqlx
