[workspace.package]
version = "1.0.0"
edition = "2021"
license-file = "./LICENSE"
homepage = "https://github.com/iron-wallet"
repository = "https://github.com/iron/wallet/reth"
exclude = [".github/", "extension/"]
authors = ["Miguel Palhas <mpalhas@gmail.com>"]

[workspace]
resolver = "2"
members = [
  "bin/iron",
  "crates/settings",
  "crates/tracing",
  "crates/networks",
  "crates/wallets",
  "crates/ws",
  "crates/http",
  "crates/rpc",
  "crates/connections",
  "crates/dialogs",
  "crates/abis",
  "crates/forge",
  "crates/types",
  "crates/db",
  "crates/sync",
  "crates/sync/anvil",
  "crates/sync/alchemy",
  "crates/crypto",
  "crates/broadcast",
  "crates/exchange-rates",
  "crates/simulator",
]
default-members = ["bin/iron"]

[workspace.dependencies]
iron-forge = { path = "crates/forge" }
iron-crypto = { path = "crates/crypto" }
iron-settings = { path = "crates/settings" }
iron-networks = { path = "crates/networks" }
iron-wallets = { path = "crates/wallets" }
iron-simulator = { path = "crates/simulator" }
iron-ws = { path = "crates/ws" }
iron-http = { path = "crates/http" }
iron-rpc = { path = "crates/rpc" }
iron-connections = { path = "crates/connections" }
iron-dialogs = { path = "crates/dialogs" }
iron-types = { path = "crates/types" }
iron-abis = { path = "crates/abis" }
iron-db = { path = "crates/db" }
iron-sync = { path = "crates/sync" }
iron-sync-anvil = { path = "crates/sync/anvil" }
iron-sync-alchemy = { path = "crates/sync/alchemy" }
iron-broadcast = { path = "crates/broadcast" }
iron-tracing = { path = "crates/tracing" }
iron-exchange-rates = { path = "crates/exchange-rates" }
tokio = { version = "1.32.0", features = ["full", "sync"] }
thiserror = "1.0.40"
ethers = { version = "2", features = ["ws"] }
sqlx = { version = "0.7.2", features = [
  "runtime-tokio-rustls",
  "sqlite",
  "migrate",
] }
serde = { version = "1.0", features = ["derive", "std"] }
serde_json = "1.0"
async-trait = "0.1.68"
tauri = { version = "1.5.2", features = ["api-all", "system-tray"] }
once_cell = "1.17.1"
secrets = { version = "1.2.0", features = ["use-libsodium-sys"] }
tracing = "0.1.0"
jsonrpc-core = "18.0.0"
reqwest = { version = "0.11.18", default-features = false, features = [
  "rustls-tls",
] }
alloy-primitives = { version = "0.4.1", features = ["serde"] }

[patch.crates-io]
ethers = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
ethers-addressbook = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
ethers-core = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
ethers-contract = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
ethers-contract-abigen = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
ethers-providers = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
ethers-signers = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
ethers-middleware = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
ethers-etherscan = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
ethers-solc = { git = "https://github.com/gakonst/ethers-rs", rev = "841ff8c47980798fbb47991e047f8481b1d5eb39" }
# revm = { git = "https://github.com/Evalir/revm/", branch = "reintroduce-alloy-rebased" }
# revm-interpreter = { git = "https://github.com/Evalir/revm/", branch = "reintroduce-alloy-rebased" }
# revm-precompile = { git = "https://github.com/Evalir/revm/", branch = "reintroduce-alloy-rebased" }
# revm-primitives = { git = "https://github.com/Evalir/revm/", branch = "reintroduce-alloy-rebased" }
foundry-compilers = { git = "https://github.com/foundry-rs/compilers" }
foundry-block-explorers = { git = "https://github.com/foundry-rs/block-explorers" }

alloy-dyn-abi = { git = "https://github.com/alloy-rs/core/" }
alloy-primitives = { git = "https://github.com/alloy-rs/core/" }
alloy-json-abi = { git = "https://github.com/alloy-rs/core/" }
alloy-sol-types = { git = "https://github.com/alloy-rs/core/" }
