[workspace.package]
version = "1.8.0"
edition = "2021"
license-file = "./LICENSE"
homepage = "https://github.com/ethui"
repository = "https://github.com/ethui/reth/reth"
exclude = [".github/", "extension/"]
authors = ["Miguel Palhas <mpalhas@gmail.com>"]

[workspace]
resolver = "2"
members = [
  "bin",
  "crates/forge",
  "crates/crypto",
  "crates/settings",
  "crates/networks",
  "crates/wallets",
  "crates/simulator",
  "crates/ws",
  "crates/rpc",
  "crates/connections",
  "crates/dialogs",
  "crates/types",
  "crates/abis",
  "crates/db",
  "crates/sync",
  "crates/broadcast",
  "crates/tracing",
  "crates/exchange-rates",
  "crates/args",
]
default-members = ["bin"]

[workspace.dependencies]
ethui-forge = { path = "crates/forge" }
ethui-crypto = { path = "crates/crypto" }
ethui-settings = { path = "crates/settings" }
ethui-networks = { path = "crates/networks" }
ethui-wallets = { path = "crates/wallets" }
ethui-simulator = { path = "crates/simulator" }
ethui-ws = { path = "crates/ws" }
ethui-rpc = { path = "crates/rpc" }
ethui-connections = { path = "crates/connections" }
ethui-dialogs = { path = "crates/dialogs" }
ethui-types = { path = "crates/types" }
ethui-abis = { path = "crates/abis" }
ethui-db = { path = "crates/db" }
ethui-sync = { path = "crates/sync" }
ethui-sync-anvil = { path = "crates/sync/anvil" }
ethui-sync-alchemy = { path = "crates/sync/alchemy" }
ethui-broadcast = { path = "crates/broadcast" }
ethui-tracing = { path = "crates/tracing" }
ethui-exchange-rates = { path = "crates/exchange-rates" }
ethui-args = { path = "crates/args" }
ethui-token-list = { path = "crates/token-list" }
tokio = { version = "1.37", features = ["full", "sync"] }
thiserror = "1.0"
ethers = { features = [
  "ws",
  "ledger",
], git = "https://github.com/gakonst/ethers-rs", rev = "5394d89" }
sqlx = { version = "0.8", features = [
  "runtime-tokio-rustls",
  "sqlite",
  "migrate",
  "json",
] }
serde = { version = "1.0", features = ["derive", "std"] }
serde_json = "1.0"
async-trait = "0.1.68"
tauri = { version = "2.0.3", features = ["tray-icon"] }
once_cell = "1.19"
secrets = { version = "1.2.0", features = ["use-libsodium-sys"] }
tracing = "0.1"
jsonrpc-core = "18.0.0"
reqwest = { version = "0.12", default-features = false, features = [
  "rustls-tls",
] }
alloy = { version = "0.4", features = [
  "full",
  "rpc",
  "rpc-types",
  "signer-ledger",
  "provider-trace-api",
] }
alloy-chains = "0.1.38"
revm-inspectors = { git = "https://github.com/paradigmxyz/evm-inspectors", rev = "c1b5dd0", features = [
  "serde",
] }
url = { version = "2.5", features = ["serde"] }
futures = "0.3.28"
clap = { version = "4.4.8", features = ["derive", "env"] }
coins-ledger = "0.10.1"
rand = "0.8.5"
rstest = "0.23"

# Foundry - October 11th 2024
foundry-config = { git = "https://github.com/foundry-rs/foundry", rev = "nightly-bcacf39e43812e50a124e3ba60d1becd9866534d" }
foundry-evm = { git = "https://github.com/foundry-rs/foundry", rev = "nightly-bcacf39e43812e50a124e3ba60d1becd9866534d" }
foundry-common = { git = "https://github.com/foundry-rs/foundry", rev = "nightly-bcacf39e43812e50a124e3ba60d1becd9866534d" }
foundry-block-explorers = "0.8.0"
hex = "0.4.3"
anyhow = "1.0.83"
