[advisories]
yanked = "warn"
ignore = [
  "RUSTSEC-2024-0370",
  # instant is unmaintained
  "RUSTSEC-2024-0384",
  # derivative is unmaintained
  "RUSTSEC-2024-0388",
  # atk is unmaintained
  "RUSTSEC-2024-0413",
  # atk-sys is unmaintained
  "RUSTSEC-2024-0416",
  # gdk is unmaintained
  "RUSTSEC-2024-0412",
  # gdk-sys is unmaintained
  "RUSTSEC-2024-0418",
  # gdkwayland-sys is unmaintained
  "RUSTSEC-2024-0411",
  # gdkx11 is unmaintained
  "RUSTSEC-2024-0417",
  # gdkx11-sys is unmaintained
  "RUSTSEC-2024-0414",
  # gtk3 is unmaintained
  "RUSTSEC-2024-0415",
  # gtk3-sys is unmaintained
  "RUSTSEC-2024-0420",
  # gtk3-macros is unmaintained
  "RUSTSEC-2024-0419",
  # glib unsoundness
  "RUSTSEC-2024-0429",
]


[licenses]
allow = [
  "MIT",
  "MIT-0",
  "Unlicense",
  "ISC",
  "Unicode-DFS-2016",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "MPL-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "Unicode-3.0",
  "BSL-1.0",
  "OpenSSL",
  "0BSD",
  "CC0-1.0",
  "Zlib",
]
exceptions = [
  # As stated in https://github.com/gakonst/ethers-rs/blob/master/deny.toml
  # CC0 is a permissive license but somewhat unclear status for source code
  # so we prefer to not have dependencies using it
  # https://tldrlegal.com/license/creative-commons-cc0-1.0-universal
  { allow = ["CC0-1.0"], name = "tiny-keccak" },
]


# See note in unicode-ident's readme!
[[licenses.clarify]]
name = "unicode-ident"
version = "*"
expression = "(MIT OR Apache-2.0) AND Unicode-DFS-2016"
license-files = [{ path = "LICENSE-UNICODE", hash = 0x3fb01745 }]
[[licenses.clarify]]
name = "ring"
version = "*"
expression = "OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[sources.allow-org]
github = ["ethui"]

[sources]
allow-git = [
  "https://github.com/foundry-rs/foundry",
  "https://github.com/tauri-apps/fix-path-env",
]
