[advisories]
yanked = "warn"
ignore = [
  # proc-macro-error is unmaintained
  "RUSTSEC-2024-0370",
  # atk is unmaintained
  "RUSTSEC-2024-0413",
  # atk-sys is unmaintained
  "RUSTSEC-2024-0416",
  # gdk is unmaintained
  "RUSTSEC-2024-0412",
  # gdk-sys is unmaintained
  "RUSTSEC-2024-0418",
  # gdkwayland-sys is unmaintained
  "RUSTSEC-2024-0411",
  # gdkx11 is unmaintained
  "RUSTSEC-2024-0417",
  # gdkx11-sys is unmaintained
  "RUSTSEC-2024-0414",
  # gtk3 is unmaintained
  "RUSTSEC-2024-0415",
  # gtk3-sys is unmaintained
  "RUSTSEC-2024-0420",
  # gtk3-macros is unmaintained
  "RUSTSEC-2024-0419",
  # paste is unmaintained
  "RUSTSEC-2024-0436",
  # glib unsoundness
  "RUSTSEC-2024-0429",
  # fxhash unmaintained
  "RUSTSEC-2025-0057",
  # unic-ucd-version
  "RUSTSEC-2025-0098",
  # unic-ucd-ident
  "RUSTSEC-2025-0100",
  # unic-ucd-common
  "RUSTSEC-2025-0080",
  # unic-char-range
  "RUSTSEC-2025-0075",
  # unic-char-property
  "RUSTSEC-2025-0081",
]


[licenses]
allow = [
  "MIT",
  "Unlicense",
  "ISC",
  "CDLA-Permissive-2.0",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "MPL-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "Unicode-3.0",
  "BSL-1.0",
  "CC0-1.0",
  "Zlib",
]

[sources]
allow-git = ["https://github.com/tauri-apps/fix-path-env-rs"]
