[package]
name = "ethui-types"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
license-file.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
sqlx.workspace = true
tokio.workspace = true
async-trait.workspace = true
alloy.workspace = true
url.workspace = true
color-eyre.workspace = true
kameo.workspace = true
tracing.workspace = true
