[package]
name = "tracing-utils"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true
authors.workspace = true

[dependencies]
tracing.workspace = true
color-eyre.workspace = true
once_cell.workspace = true

tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "std",
  "ansi",
] }
chrono = { version = "0.4", default-features = false, features = ["clock"] }
