[package]
name = "ethui-tracing"
version.workspace = true
edition.workspace = true
license-file.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true
authors.workspace = true

[dependencies]
tracing.workspace = true
thiserror.workspace = true
once_cell.workspace = true

tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "std",
  "ansi",
] }

[features]
debug = []
