name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}

jobs:
  extension:
    name: Build Extension
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: yarn cache
        uses: actions/setup-node@v3
        with:
          cache: "yarn"

      - name: Install dependencies
        run: yarn workspace @iron/extension install

      - name: Build extension zip
        run: yarn workspace @iron/extension build:zip

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: extension-${{ github.sha }}
          path: ./extension/extension.zip
          retention-days: 1

  app:
    name: Build Binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: install dependencies (ubuntu only)
        run: |
          echo {{matrix.platform}}
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf

      - uses: actions-rs/toolchain@v1
        with:
          override: true

      - name: rust cache
        uses: Swatinem/rust-cache@v2

      - name: yarn cache
        uses: actions/setup-node@v3
        with:
          cache: "yarn"

      - run: yarn install
      - run: yarn run tauri build

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-${{ github.sha }}
          path: ./target/release/bundle/
          retention-days: 1

  create-release:
    needs: [extension, app]
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Download extension
        uses: actions/download-artifact@v3
        with:
          name: extension-${{ github.sha }}
          path: release/

      - name: Download binary
        uses: actions/download-artifact@v3
        with:
          name: app-${{ github.sha }}
          path: release/

      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          prerelease: true
          files: |
            release/*
