name: release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
permissions:
  contents: write

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.get-tag.outputs.tag }}
      release_id: ${{ steps.get-id.outputs.id }}
    steps:
      - uses: actions/checkout@v3

      # get the current draft release
      - id: get-tag
        name: get tag
        run: |
          echo "tag=$(gh api /repos/iron-wallet/iron/releases |\
            jq -r '.[] | select(.draft == true) | .tag_name')" \
            >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # get the current release_id
      - id: get-id
        name: get release ID
        run: |
          echo "id=$(gh api /repos/iron-wallet/iron/releases |\
            jq -r '.[] | select(.draft == true) | .id')" \
            >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # build extension
  # upload to draft release
  extension:
    needs: [setup]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install dependencies
        run: yarn workspace @iron/extension install

      - name: Create bundles
        run: yarn workspace @iron/extension bundle

      - name: Upload to release
        run: gh release upload ${{ needs.setup.outputs.tag }} ./extension/*.{crx,zip,xpi}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # TODO:
      # - name: Submit to Mozilla
      #   working-directory: ./extension/dist
      #   run: npx web-ext-submit@7
      #   env:
      #     WEB_EXT_API_KEY: ${{ secrets.WEB_EXT_API_KEY }}
      #     WEB_EXT_API_SECRET: ${{ secrets.WEB_EXT_API_SECRET }}
      # - name: Submit to Google
      #   working-directory: ./extension/dist
      #   run: npx chrome-webstore-upload-cli@2 upload --auto-publish
      #   env:
      #     EXTENSION_ID: ${{ secrets.EXTENSION_ID }}
      #     CLIENT_ID: ${{ secrets.CLIENT_ID }}
      #     CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      #     REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}

  # build extension
  # upload to draft release
  app:
    needs: [setup]
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-20.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3

      - name: install dependencies (ubuntu)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf libsodium-dev

      - name: install dependencies (windows)
        if: matrix.platform == 'windows-latest'
        run: |
          C:\msys64\usr\bin\wget.exe https://download.libsodium.org/libsodium/releases/libsodium-1.0.18-msvc.zip
          7z x libsodium-1.0.18-msvc.zip
          Copy-Item -Path libsodium\x64\Release\v142\static\libsodium.lib sodium.lib

      - name: install dependencies (macos)
        if: matrix.platform == 'macos-latest'
        run: |
          brew install libsodium

      - name: setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: rust cache
        uses: Swatinem/rust-cache@v2

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - run: yarn install --network-timeout 1000000

      - uses: tauri-apps/tauri-action@v0
        id: tauri
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          releaseId: ${{ needs.setup.outputs.release_id }}

  publish:
    needs: [setup, extension, app]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: publish release
        run: gh release edit ${{ needs.setup.outputs.tag }} --draft=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
