name: rust

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  APTABASE_KEY: "placeholder"

jobs:
  check-skip:
    runs-on: ubuntu-latest
    outputs:
      rust: ${{ steps.skip_rust.outputs.src }}
      deps: ${{ steps.skip_deps.outputs.src }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: skip_rust
        with:
          filters: |
            src:
              - ".github/workflows/rust.yml"
              - "bin/**"
              - "migrations/**"
              - "crates/**"
              - "sqlx/**"
              - "Cargo.toml"
              - "Cargo.lock"
              - "deny.toml"
              - "rustfmt.toml"
              - "rust-toolchain.toml"

      - uses: dorny/paths-filter@v3
        id: skip_deps
        with:
          filters: |
            src:
              - ".github/workflows/rust.yml"
              - "Cargo.toml"
              - "**/Cargo.toml"
              - "Cargo.lock"
              - "deny.toml"

  cargo-test:
    needs: check-skip
    if: needs.check-skip.outputs.rust == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential curl wget file libssl-dev libayatana-appindicator3-dev librsvg2-dev libwebkit2gtk-4.1-dev libjavascriptcoregtk-4.1 libsoup-3.0-dev patchelf libsodium-dev

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "debug"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - uses: taiki-e/install-action@v2
        with:
          tool: nextest

      - run: cargo nextest run --workspace -E 'not package(ethui-stacks)'

  cargo-clippy:
    needs: check-skip
    if: needs.check-skip.outputs.rust == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential curl wget file libssl-dev libayatana-appindicator3-dev librsvg2-dev libwebkit2gtk-4.1-dev libjavascriptcoregtk-4.1 libsoup-3.0-dev patchelf libsodium-dev

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "debug"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Stub frontend build dir
        run: mkdir gui/dist

      - run: cargo check --all-features
      - run: cargo clippy --workspace --all-features -- -D clippy::all -D clippy::dbg_macro

      - uses: taiki-e/install-action@v2
        with:
          tool: sqlx-cli
      - run: cargo sqlx prepare --workspace --check

  cargo-deny:
    needs: check-skip
    if: needs.check-skip.outputs.deps == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check advisories bans licenses sources
