name: yarn

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - "./migrations/**"
      - "./tauri/**"
      - "*.toml"
      - "*.md"
      - "LICENSE"
  merge_group:
    paths-ignore:
      - "./migrations/**"
      - "./tauri/**"
      - "*.toml"
      - "*.md"
      - "LICENSE"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install -g yarn
      - uses: actions/setup-node@v4
        with:
          cache: "yarn"
          node-version-file: ".tool-versions"

      - name: ESLint
        run: bun run lint
      - run: yarn install --frozen-lockfile

      - name: ESLint
        run: yarn lint

      - name: Tests
        run: yarn test
